<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    
<p id="firstInfoLine"><br> </p>
<p id="secInfoLine"><br> </p>

<br>

<canvas id="myCanvas" width="480" height="320"></canvas>


<script src="/javascripts/particles.js"></script>
<script src="/javascripts/square.js"></script>
<script src="/javascripts/blocks.js"></script>
<script src="/javascripts/flappyGame.js"></script>


  </body>
</html>
